@{
    ViewBag.Title = "ForumSystem";
}
@section styles
{
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/css/alertify.core.css" rel="stylesheet" />
    <link href="~/lib/css/alertify.bootstrap.css" rel="stylesheet" />
    <link href="node_modules/quill/dist/quill.snow.css" rel="stylesheet" />
    @*<link href="~/lib/css/alertify.default.css" rel="stylesheet" />*@
}
<div id="nav-separator"></div>
<fs-app>
    <div class="loading">Loading...</div>
</fs-app>
@section scripts
{
    <script src="~/lib/js/jquery.fancybox.pack.js"></script>
    <script src="~/lib/js/alertify.min.js"></script>
    <script src="node_modules/quill/dist/quill.js"></script>
}
@section customScript
{
    System.import('app').catch(console.log.bind(console));
    $(document).ready(function() {
    $('.fancybox').fancybox();
    });
}